body {
  padding-top: 50px;
  background-image: url('../images/dhl_bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: black;
}

.navbar {
  margin-bottom: 20px;
}

.card {
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 50px;
}

.card-header {
  background-color: #FFCC00;
  color: #000;
}

.btn-danger {
  background-color: #FF0000;
  border-color: #FF0000;
}

.welcome-content {
  margin-top: 50px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}

.feature-list {
  list-style-type: none;
  padding-left: 0;
}

.feature-list li {
  margin-bottom: 10px;
}
